body {
    font-size:1.3em;/*13px*/
    font-family: sans-serif, Arial;/*set font also for textarea in IE7*/
}
/* You better set static font size here in order to keep a height of he element to be matched with text fields, buttons, …
select {
    font-size:13px;
}*/

/** 66/99 slovak quotation marks **/
[lang="sk-SK"] q:before {content: "\201E";}
[lang="cs-CZ"] q:after {content: "\201C";}

a:hover {text-decoration: underline;}

/**
 * Forms
 *
 * [buttons, all text fields, select]         : 1px transparent border
 * [buttons, single-line text fields, select] : 2em height
 */
input, button, .button {height: 50px;}/** Global height for buttons and single line input fields **/
.button {line-height: 50px;}/*not an original button, needs to have l/h*/
input[type="checkbox"],
input[type="radio"] {height: auto;}/** nulling of the global height, reset also l/h when IE7/8 **/

input, button, .button, select, textarea {border:1px solid transparent;}
input[type="checkbox"],
input[type="radio"] {border:0;}/** just remove border **/

/** you can not style it in IE7 **/
select {padding:15px;}/** when setting height, pay attention to font-size and top and bottom padding, line-height and height are not suitable for styling **/
select optgroup option {padding-left: .7em;}

textarea {min-height: 2em; max-height: 20em;}