/**
 * 1.0 Text
 */

/** 1.1 Alignment **/
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}
.text-notext {text-indent: -9999px;}
.valign-top {vertical-align: top;}
.valign-bottom {vertical-align: bottom;}
.valign-middle {vertical-align: middle;}
.valign-baseline {vertical-align: baseline;}

/** 1.2 Transformations **/
.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}

/** 1.3 Typefaces **/
.text-lighter {font-weight: lighter;}
.text-thin {font-weight: 300;}
.text-normal {font-weight:400;}
.text-bold {font-weight:700;}
.text-bolder {font-weight: bolder;}
.text-italic {font-style: italic;}

/** 1.4 Sizes - set with accordance to your project **/
/** @see helpers-custom.css **/

/** 1.5 Line heights **/
/** @see helpers-custom.css **/

/**
 * 2.0 Positioning
 */

/** 2.1 Display level of an element **/
.level-inline {display: inline;}
.level-iblock {display: inline-block;}
.level-block {display: block;}
.level-none {display: none;}

/** 2.2 Block level element alignment **/
.block-center {margin: 0 auto;}
.pull-left {float: left;}
.pull-right {float: right;}

/** 2.3 CSS position classes **/
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.static {position: static;}

/** 2.3.1 CSS position bases **/
.top-base {top: 0}
.bottom-base {bottom:0;}
.left-base {left:0;}
.right-base {right:0;}


/**
 * 3.0 Mixed
 */

/** 3.1 Clearing floats **/
.clear {clear: both;}
.has-floats:before,
.has-floats:after {content: " "; display: table;}
.has-floats:after {clear: both;}

/** 3.2 Box model **/
/** 3.2.1 Border box **/
.border-box {-moz-box-sizing:border-box; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
/** 3.2.2 Content box **/
.content-box {-moz-box-sizing:content-box; -webkit-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box;}
/** 3.3 Screen reader visible **/
.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

/** 3.4 Element visibility options **/
.hide,
.yes-js .js-hide,
.no-js .no-js-hide {display: none;}
.show,
.yes-js .js-show,
.no-js .no-js-show {display: block;}
.hidden {visibility: hidden;}
.fade-out {opacity: 0;}
.fade-in {opacity: 1;}

/** 3.5 Mouse cursors **/
.cursor-pointer {cursor:pointer;}
.cursor-default {cursor: default;}
.cursor-help {cursor: help;}
.cursor-wait {cursor: wait;}

/** 3.6 Overflowing content **/
.overflow-no {overflow: hidden;}
.overflow-yes {overflow: visible;}
.overflow-scroll {overflow: scroll;}

/** 3.7 Widths **/
.width-full {width: 100%;}
.width-half {width:50%;}
.width-third {width: 33.33333%}
.width-quarter {width: 25%;}
.width-fifth {width: 20%;}
/** @see helpers-custom.css **/