/** Font sizes **/
/**
    .font-12-strict {font-size:12px;}
    .font-12 {font-size:1.2em;}
**/

/** Line heights **/
/**
    .line-15-strict {line-height:15px;}
    .line-15 {line-height:1.5em;}
**/

/** Widths **/
/**
    .width-15 {width:15%;}
    .width-15-strict {width:15px;}
    .width-15-fluid {width:15px;} @media screen and (min-width:1px) { .width-15-fluid {width: auto; max-width: 15px;} }
**/

/** Margins **/
/**
    .offset-strict-10 {margin:10px;}
    .offset-10 {margin:1.0em;}

    .offset-strict-top-10 {margin-top:10px;}
    .offset-top-10 {margin-top:1.0em;}


    .offset-strict-inner-10 {padding:10px;}
    .offset-inner-10 {padding:1.0em;}

    .offset-strict-inner-top-10 {padding-top:10px;}
    .offset-inner-top-10 {padding-top:1.0em;}
**/