/**
 *
 * A File containing global colors for elements
 * Do not put here specific colors, would ya?
 *
 *
 * Table of contents
 *
 *  1.0 Text selection
 *  2.0 Root element background color
 *  3.0 Base element background color
 *  4.0 Global text color
 */


/**
 * 1.0 Text selection
 */
::-webkit-selection {background-color:#535353; color:#fafafa;}
::-moz-selection {background-color:#535353;	color:#fafafa;}
::selection {background-color:#535353; color:#fafafa;}

/**
 * 2.0 Root element background
 */
html {background-color: #ffffff}

/**
 * 3.0 Base element background
 */
body {background-color: #ffffff;}

/**
 * 4.0 Global text color
 */
body {color: green;}