input {line-height: 50px;}/** IE7/8 need to have line-height explicitly set with accordance to their height without border width**/

/** IE needs to have 20% more heght on these elements*/
sup, sub {font-size: 95%;}

.fade-out {filter: alpha(opacity=0);}
.fade-in {filter: alpha(opacity=1);}