body {
    font-size:.8em;/*0.625em;*//* 10px for everything */
    font-family: sans-serif, Arial;
}

/** 66/99 slovak quotation marks **/
[lang="sk-SK"] q:before {content: "\201E";}
[lang="sk-SK"] q:after {content: "\201C";}

a:hover {text-decoration: underline;}
a:active {}
a:focus {}
a:visited {}