/**
 * Colors used 
 * Dark: #353535;
 * Light: #fafafa;
 */

/**
 * 1.1 HTML5 elements reset
 */
header, footer, main, section, nav, article, menu, aside, figure, figcaption {display:block;}
header, footer, main, section {clear: both;}
time {display: inline;}
[hidden] {display:none;}

/**
 * 1.2 Mouse text selection 
 */
::-webkit-selection {background-color:#535353; color:#fafafa;}
::-moz-selection {background-color:#535353;	color:#fafafa;}
::selection {background-color:#535353; color:#fafafa;}

/**
 * 1.3 Default style
 */
* {
	margin:0;
	padding:0;
	background:none;
	outline: none;
	border:0;
	color:#353535;
	font: 13px/1em 'Open Sans', Arial, 'sans-serif', Helvetica, Tahoma, Verdana;
    vertical-align: top;
}

html  {overflow-y: scroll; -webkit-font-smoothing: antialiased; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body {background-color:#fafafa;}

/**
 * 1.4 Inline elements
 */
span, small,  i, em, b, strong, time, a, cite, code, q, label, strike, del, s, ins {font:inherit; color:inherit;}
small {font-size: smaller;}
abbr[title], acronym {border-bottom: 1px dotted; cursor: help;}
strike, del, s {text-decoration: line-through;}
ins {background-color: yellow;}

a {text-decoration: none;}
a:focus {outline: none; text-decoration: underline;}

b, strong {font-weight: 700;}
i, em, dfn {font-style: italic;}

sup, sub {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -.5em;}
sub {bottom: -.25em;}

code,
kbd,
tt,
var,
samp,
pre {font-family: monospace, serif; line-height: 1.4;}

img {height: auto;}

/**
 * 1.5 BLock elements
 */
ul, ol, menu {list-style:none;}
li {display: block;}

pre {overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}

h1,
h2,
h3,
h4,
h5,
h6,
p {clear: both;}

blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ""; content: none;}

/**
 * 1.6 Forms
 * Buttons and text fields are set to height 2em with border and paggind excluded from the height
 * \/ *  $1, $2 ->anchors for setting height * \/
 */
button {overflow: visible;}
label {cursor: pointer;}
input {line-height: normal;}
textarea {resize: vertical; overflow: auto;}
select optgroup {font-weight: bold;}

button,
select {text-transform: none;}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {-webkit-appearance: button; cursor: pointer;}

button[disabled],
html input[disabled] {cursor: default;}

button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}

input[type="search"] {-webkit-appearance: textfield;}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}

label, button, input, select, textarea {display:inline-block; vertical-align: middle; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-khtml-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

/**
 * Form elements actual style start
 */
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="submit"],
input[type="button"],
input[type="rest"],
select,
button {height: 2em; padding-left: 5px; padding-right: 5px;}

select {padding-top:4px; padding-bottom: 3px; padding-right: 4px;}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="submit"],
input[type="button"],
input[type="rest"],
select,
button,
textarea {border:1px solid black; background-color: white;}

button:focus,
textarea:focus,
select:focus,
input:focus {border-color:#0088cc;}

form :invalid {box-shadow: none;}

select optgroup option {padding-left: .7em;}
textarea {min-height: 2em; max-height: 20em;}

/**
 * 1.7 Tables
 */
table {border-collapse: collapse; border-spacing: 0; width: 100%;}


/**
 * 1.8 Useful classes
 */
.clear {clear: both;}
.clearfix:before,
.clearfix:after,
.layout-row:before,
.layout-row:after {content: " "; display: table;}
.clearfix:after,
.layout-row:after {clear: both;}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}
.text-justify {text-align: justify;}

.text-uppercase {text-transform: uppercase;}
.text-lowercase {text-transform: lowercase;}

.text-thin {font-weight: 300;}
.text-normal {font-weight:400;}
.text-bold {font-weight:700;}
.text-bolder {font-weight: 800;}
.text-italic {font-style: italic;}
.text-notext {font-size: 0; line-height: 0;}

.font-075 {font-size: .75em;}
.font-08 {font-size: .8em;}
.font-09 {font-size: .9em;}
.font-1 {font-size: 1em;}
.font-11 {font-size: 1.1em;}
.font-12 {font-size: 1.2em;}
.font-13 {font-size: 1.3em;}
.font-14 {font-size: 1.4em;}
.font-15 {font-size: 1.5em;}
.font-16 {font-size: 1.6em;}
.font-17 {font-size: 1.7em;}
.font-18 {font-size: 1.8em;}
.font-19 {font-size: 1.9em;}
.font-2 {font-size: 2em;}
.font-21 {font-size: 2.1em;}
.font-22 {font-size: 2.2em;}
.font-23 {font-size: 2.3em;}
.font-24 {font-size: 2.4em;}
.font-25 {font-size: 2.5em;}
.font-26 {font-size: 2.6em;}
.font-27 {font-size: 2.7em;}
.font-28 {font-size: 2.8em;}
.font-29 {font-size: 2.9em;}
.font-3 {font-size: 3em;}

.line-normal {line-height:normal;}
.line-0 {line-height:0;}
.line-1 {line-height:1em;}
.line-11 {line-height:1.1em;}
.line-115 {line-height:1.15em;}
.line-12 {line-height:1.2em;}
.line-125 {line-height:1.25em;}
.line-13 {line-height:1.3em;}
.line-135 {line-height:1.35em;}
.line-14 {line-height:1.4em;}
.line-145 {line-height:1.45em;}
.line-15 {line-height:1.5em;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.static {position: static;}

.block-center {margin: 0 auto;}
.pull-left {float: left;}
.pull-right {float: right;}

.level-inline {display: inline;}
.level-iblock {display: inline-block;}
.level-block {display: block;}

.valign-top {vertical-align: top;}
.valign-bottom {vertical-align: bottom;}
.valign-middle {vertical-align: middle;}

/**
 * 1.8.1 very specific classes for tools
 */
.border-box {-moz-box-sizing:border-box; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}

body.no-js .no-js-hide,
body.yes-js .js-hide {display: none;}

[data-action],
.cursor-pointer {cursor:pointer;}
.cursor-default {cursor: default;}
.cursor-help {cursor: help;}
.cursor-wait {cursor: wait;}


/**
 * Layout
 */
.layout-row {} /** floats cleared **/

/** base class for layout cell **/
.layout-cell {}
.layout-cell-fluid {}
.layout-cell-strict {}

/** human readable format **/
/** should have another class [layout-cell-fluid] **/
.layout-cell-fluid-full {width: 100%;}
.layout-cell-fluid-half {width: 50%;}
.layout-cell-fluid-third {width: 33.3333%;}
.layout-cell-fluid-quarter {width: 25%;}
.layout-cell-fluid-fifth {width: 20%;}
/** percentage format **/
.layout-cell-fluid-5 {width: 5%;}
.layout-cell-fluid-10 {width: 10%;}
.layout-cell-fluid-15 {width: 15%;}
.layout-cell-fluid-20 {width: 20%;}
.layout-cell-fluid-25 {width: 25%;}
.layout-cell-fluid-30 {width: 30%;}
.layout-cell-fluid-35 {width: 35%;}
.layout-cell-fluid-40 {width: 40%;}
.layout-cell-fluid-45 {width: 45%;}
.layout-cell-fluid-50 {width: 50%;}
.layout-cell-fluid-55 {width: 55%;}
.layout-cell-fluid-60 {width: 60%;}
.layout-cell-fluid-65 {width: 65%;}
.layout-cell-fluid-70 {width: 70%;}
.layout-cell-fluid-75 {width: 75%;}
.layout-cell-fluid-80 {width: 80%;}
.layout-cell-fluid-85 {width: 85%;}
.layout-cell-fluid-90 {width: 90%;}
.layout-cell-fluid-95 {width: 95%;}
.layout-cell-fluid-100 {width: 100%;}

/** strict format **/
/** should have another class [layout-cell-strict] **/
.layout-cell-strict-960 {width: 960px;}
.layout-cell-strict-1024 {width: 1024px;}
.layout-cell-strict-1280 {width: 1280px;}
.layout-cell-strict-1440 {width: 1440px;}
.layout-cell-strict-1600 {width: 1600px;}