header, footer, main, section, nav, article, menu, aside, figure, figcaption {display:block;}
header, footer, main, section {clear: both;}
time {display: inline-block;}
[hidden] {display:none;}

* {
    margin:0;
    padding:0;
    background:none transparent no-repeat center top;
    outline: none;
    border:0;
    line-height: 100%;/* according to an element's font size */
    vertical-align: baseline;
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    text-decoration: none;
    text-transform:none;
    text-align: left;
    overflow: visible;
    position: relative;
    z-index: 1;
}



html {
    overflow-y: scroll;/*prevent horizontal move of a no-scrolling page in comparsion with a page with scrollbar*/
    -webkit-font-smoothing: antialiased; /* improve light font weight rendering on dark background on MAC*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {font-size: 18px;}

/** velkost pisma podla rodicovskeho elementu**/
body * {
    font-size: 100%;
}

small {font-size: smaller;}
abbr[title] {border-bottom: 1px dotted; cursor: help;}
s, del {text-decoration: line-through;}
ins {background-color: yellow;}
b, strong {font-weight: bolder;}
i, em, dfn, cite {font-style: italic;}
sup, sub {font-size: 65%;}
sup {vertical-align: top; line-height: 70%;}
sub {vertical-align: bottom; line-height: 30%;}
code, kbd, var, samp, pre {font-family: monospace, serif; line-height: 1.4;}
img {display: inline-block; width: auto; height: auto;}
q {quotes: none;}
q:before,
q:after {content: "\0022";}

pre {overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
ul, ol, menu {list-style-type: none;}
li {display: block;}
blockquote {quotes: none;}

:required,
:valid,
:invalid {box-shadow: none;}

label {cursor: pointer;}
textarea {resize: vertical;}

button::-moz-focus-inner,
input::-moz-focus-inner {border: 0; padding: 0;}
/*odstranenie +/- tlacidiel*/
/*input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}*/
input[type="search"] {-webkit-appearance: none;}
/**odobratie X tlacidla**/
/*input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}*/

input, textarea, button {border-radius:0;}

/** nastavenie minimalnej velkosti pisma na mobilnych zariadeniach, aby sa obrazovka nezoomovala pri focuse na pole**/
@media screen and (max-width: 700px) {
    input, textarea, select {font-size: 16px;}
}

select optgroup {font-weight: bold;}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {-webkit-appearance: button; cursor: pointer;}

[disabled] {cursor: default;}

button,
input,
select,
textarea {-moz-box-sizing:border-box; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-khtml-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}

label,
button,
input,
select,
textarea {vertical-align: middle; display: inline-block;}

/** farby placeholderov */
/*::-webkit-input-placeholder {color: red;}
:-moz-placeholder {color: red;}
::-moz-placeholder {color: red;}
:-ms-input-placeholder {color:red;}
.js-input-placeholder {color: red;}*/


table {border-collapse: collapse; border-spacing: 0; width: 100%;}
td,
th {vertical-align: top;}


a {text-decoration: none;}
a:hover {text-decoration: underline;}

/** stylovanie vybratia textu **/
/*::-webkit-selection {background-color:#535353; color:#fafafa;}
::-moz-selection {background-color:#535353;	color:#fafafa;}
::selection {background-color:#535353; color:#fafafa;}*/


.clear {clear: both;}
.ace:before,
.ace:after {content: " "; display: table;}
.ace:after {clear: both;}

.border-box {-moz-box-sizing:border-box; -webkit-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;}
.content-box {-moz-box-sizing:content-box; -webkit-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;box-sizing:content-box;}
.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;}


/** mce content body **/
body.mceContentBody {}
body.mceContentBody a {text-decoration: underline; cursor: pointer;}
body.mceContentBody a:hover {text-decoration: underline;}
body.mceContentBody a:focus {outline: 1px dotted #eee; outline-offset: 2px;}


.mceContentBody p {}
.mceContentBody p + p {margin-top: 18px;}


.mceContentBody li {display: list-item;}

.mceContentBody ul {list-style: disc inside;}
.mceContentBody ul + ul {}

.mceContentBody ol {list-style: decimal inside}
.mceContentBody ol + ol {}


.mceContentBody h1,
.mceContentBody h2,
.mceContentBody h3,
.mceContentBody h4,
.mceContentBody h5,
.mceContentBody h6 {margin-top:1em; margin-bottom: .5em;}

.mceContentBody h1 {}
.mceContentBody h2 {}
.mceContentBody h3 {}
.mceContentBody h4 {}
.mceContentBody h5 {}
.mceContentBody h6 {}


.mceContentBody table th {font-weight: 700;}
.mceContentBody table td {border-top:1px solid #eee;}